@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4>Download a sample file</h4>
<p>
    <a asp-controller="Home" asp-action="Download">Click here to download a pre-uploaded file.</a>
</p>
